<html>
    <head>
        <title>New student</title>
    </head>
    <body>
        <form id="content">
            <table>
                <tr>
                    <td align="left"><label>Name</label><br><br></td>
                    <td><input type="text" placeholder="Enter name" id="studentName" value="" required><br><br></td>
                </tr>
                <tr>
                   <td align="left"><label>Lastname</label><br><br></td>
                    <td><input type="text" placeholder="Enter last name" id="studentLastName" value="" required><br><br></td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <button class="button_menu" type="button" id="btnCancel">Cancel</button>&nbsp;&nbsp;
                        <button class="button_menu" type="submit" id="saveStudent">Add Student</button>
                    </td>
                </tr>
            </table>              
        </form>
    </body>
</html>