<style type="text/css">
    body { background-color:beige; }
    .xp {
        text-decoration: none;
        padding: 8px;
        color: #ffffff;
        margin:1px;
        background-color: green;
        border-radius: 6px;
        border: 1px solid;
    }

    .xp-neg {
        text-decoration: none;
        padding: 8px;
        color: #ffffff;
        margin:1px;
        background-color: red;
        border-radius: 6px;
        border: 1px solid;
    }

    h3 {
        color: black;
    }

    </style>
  
<h3 align="center">Positive behaviours</h3>
<button class="xp" value="20" style="width:100%"> +20 Correctly answer a question in class using English </button>
<button class="xp" value="20" style="width:100%"> +20 Present your solution in front of class </button>
<button class="xp" value="100" style="width:100%"> +100 Finish a proposed task before class ends </button>
<button class="xp" value="50" style="width:100%"> +50 Asking insightful questions about the lesson </button>
<br>
<h3 align="center">Negative behaviours</h3>
<button class="xp-neg" value="-20" style="width:100%"> -20 Arriving late to class </button>
<button class="xp-neg" value="-30" style="width:100%"> -30 Not answer in english when you have been asked in english </button>
<button class="xp-neg" value="-100" style="width:100%"> -100 Delayed homework delivery </button>



